<!DOCTYPE html>
<html lang="en" ng-app="separaModule">
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/recycling-estilos.css">
    </head>
    <body>
        <div ng-controller="recyclingCtrl">
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <div class="reciclables">
                        <h1>Reciclables</h1>
                        <div class="categoria" ng-repeat="cat in separate[0].categories_col1" ng-click="showSubcategory(cat, 'REC')">
                            <div>
                                <a data-toggle="modal" data-target="#myModal" href=""><img src="{{cat.image_url}}" alt=""></a>                               
                            </div>
                        </div>
                        <div class="categoria" ng-repeat="cat in separate[0].categories_col2" ng-click="showSubcategory(cat, 'REC')">
                            <div>
                                <a data-toggle="modal" data-target="#myModal" href=""><img src="{{cat.image_url}}" alt=""></a>    
                            </div>
                        </div>
                    </div>

                    <div class="noReciclables">
                        <h1>No Reciclables</h1>
                        <div class="categoria" ng-repeat="cat in separate[1].categories_col1" ng-click="showSubcategory(cat, 'NRC')">
                            <div>
                                <a data-toggle="modal" data-target="#myModal" href=""><img src="{{cat.image_url}}" alt=""></a>    
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h2 class="modal-title" id="myModalLabel">{{currentCategory.name}}</h2>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img src="{{currentCategory.subcategories[0].image_url}}" alt="">      
                                    </div>
                                    <div class="col-md-9">
                                        <h3>{{currentCategory.subcategories[0].name}}</h3>      
                                        <h4>{{currentCategory.subcategories[0].examples}}</h4> 
                                        <div class="alert alert-warning">
                                            <h4><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>{{currentCategory.subcategories[0].instructions}}</h4>
                                        </div>   
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <img src="{{currentCategory.subcategories[1].image_url}}" alt="">      
                                    </div>
                                    <div class="col-md-9">
                                        <h3>{{currentCategory.subcategories[1].name}}</h3>      
                                        <h4>{{currentCategory.subcategories[1].examples}}</h4>      
                                        <div class="alert alert-warning">
                                            <h4><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>{{currentCategory.subcategories[1].instructions}}</h4>
                                        </div>                                      
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="assets/javascripts/angular.min.js"></script>
        <script src="assets/javascripts/angular-resource.min.js"></script>
        <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
        <script type="text/javascript" src="assets/javascripts/bootstrap.min.js"></script>
        <!--modulos-->
        <script type="text/javascript" src="angular-app/modules/recycling-modulo.js"></script>
        <!--services-->
        <script type="text/javascript" src="angular-app/factories/file-propierties.js"></script>
        <script type="text/javascript" src="angular-app/factories/recycling-factory.js"></script>

        <!--controllers-->
        <script type="text/javascript" src="angular-app/controllers/recycling-controller.js"></script>

    </body>
</html>