<!--<p>< t(:welcome).capitalize + ' ' + @email %>!</p>-->
<h2>Confirmación de Registro</h2>

<h3>Bienvenid@ <%='' + @email %></h3>
<p>Para confirmar tu registro debes hacer click en el link de abajo:</p>

<!--<p>< t '.confirm_link_msg' %> </p>-->

<p><%= link_to t('.confirm_account_link'), confirmation_url(@resource, {confirmation_token: @token, config: message['client-config'].to_s, redirect_url: message['redirect-url']}).html_safe %></p>

